In [1]:
import pandas as pd
import requests

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_pickle("data/20240813.gkg.first-1000-news.pkl")

In [41]:
gkg = pd.read_pickle("data/20240813.gkg.pkl")

In [42]:
list_urls = gkg["first_url"].head(10000).to_list()

In [43]:
len(list_urls)

10000

In [7]:
from newspaper import Article
from newspaper import Config

user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'
config = Config()
config.browser_user_agent = user_agent
def get_article(url):
    try:
        article = Article(url, config=config)
        article.download()
        article.parse()
        article.nlp()
        data = {
            "title": article.title,
            "text": article.text,
            "summary": article.summary
        }
        return data
    except Exception as e:
        return {
            "title": "ERROR",
            "text": str(e),
            "summary": "ERROR"
        }

In [19]:
import time
def get_article(url):
    start_time = time.time()
    download_time = parse_time = nlp_time = None
    
    try:
        article = Article(url, config=config)
        
        start_download = time.time()
        article.download()
        download_time = time.time() - start_download
        
        start_parse = time.time()
        article.parse()
        parse_time = time.time() - start_parse
        
        start_nlp = time.time()
        article.nlp()
        nlp_time = time.time() - start_nlp
        
        data = {
            "title": article.title,
            "text": article.text,
            "summary": article.summary,
        }
    except Exception as e:
        data = {
            "title": "ERROR",
            "text": str(e),
            "summary": "ERROR",
        }
    finally:
        total_time = time.time() - start_time
        data = {
            **data,
            "download": download_time,
            "parse": parse_time,
            "nlp": nlp_time,
            "total": total_time
        }
        return data

In [8]:
from concurrent.futures import ThreadPoolExecutor, as_completed

def scrape_articles_parallel(urls, max_workers=10):
    results = []
    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        future_to_url = {executor.submit(get_article, url): url for url in urls}
        for future in as_completed(future_to_url):
            results.append(future.result())
    return results

In [20]:
articles = scrape_articles_parallel(list_urls,10)

In [29]:
articles = scrape_articles_parallel(list_urls,20)

/Users/ahueteg/Documents/workspace/ahueteg/hackatons/factored-datathon-2024-ariteam/.venv/lib/python3.12/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname ET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [44]:

articles = scrape_articles_parallel(list_urls,40)

/Users/ahueteg/Documents/workspace/ahueteg/hackatons/factored-datathon-2024-ariteam/.venv/lib/python3.12/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname ET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/Users/ahueteg/Documents/workspace/ahueteg/hackatons/factored-datathon-2024-ariteam/.venv/lib/python3.12/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname CDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [31]:
len(articles)

1000

In [18]:
articles[0]a

{'title': 'Underground reservoir on Mars could fill oceans on the planet’s surface, study finds',
 'text': '(CNN) — Data from a retired NASA mission has revealed evidence of an underground reservoir of water deep beneath the surface of Mars, according to new research.\n\nA team of scientists estimates that there may be enough water, trapped in tiny cracks and pores of rock in the middle of the Martian crust, to fill oceans on the planet’s surface. The groundwater would likely cover the entirety of Mars to a depth of 1 mile (1.6 kilometers), the study found.\n\nThe data came from NASA’s InSight lander, which used a seismometer to study the interior of Mars from 2018 to 2022.\n\nFuture astronauts exploring Mars would encounter a whole host of challenges if they tried to access the water, because it’s located between 7 and 12 miles (11.5 and 20 kilometers) beneath the surface, according to the study published Monday in the journal Proceedings of the National Academy of Sciences.\n\nBut the finding uncovers new details about the geological history of Mars — and suggests a new place to search for life on the red planet if the water could ever be accessed.\n\n“Understanding the Martian water cycle is critical for understanding the evolution of the climate, surface and interior,” said lead study author Vashan Wright, assistant professor and geophysicist at the University of California, San Diego’s Scripps Institution of Oceanography, in a statement. “A useful starting point is to identify where water is and how much is there.”\n\nThe search for ‘lost’ water on Mars\n\nMars was likely a warmer, wetter place billions of years ago, based on the evidence of ancient lakes, river channels, deltas and rocks altered by water studied by other NASA missions and observed by orbiters. But the red planet lost its atmosphere more than 3 billion years ago, which effectively ended the wet period on Mars.\n\nScientists still aren’t sure why Mars lost its atmosphere, and a multitude of missions have been developed to learn about the history of the planet’s water, where it went, and whether water ever created habitable conditions for life on Mars. While water remains trapped as ice at the planet’s polar ice caps, researchers don’t believe that can account for all the planet’s “lost” water.\n\nExisting theories offer a few likely scenarios for what happened to Martian water after Mars lost its atmosphere: Some hypothesize it became ice or was lost to space, while others suggest it was incorporated into minerals beneath the planet’s surface or trickled into deep aquifers.\n\nThe new findings suggest that water on Mars filtered down into the Martian crust.\n\nInSight, short for Interior Exploration using Seismic Investigations, Geodesy and Heat Transport, was a stationary lander. But it collected unprecedented data about the thickness of the red planet’s crust and the temperature of its mantle, as well as the depth and composition of the core and atmosphere. The lander’s seismometer detected the first quakes on another planet, dubbed marsquakes.\n\nWhile earthquakes occur when tectonic plates shift, move and grind against one another, the Martian crust is like one giant plate with faults and fractures as the planet continues to shrink and cool over time. As the Martian crust stretches, it cracks, and InSight’s seismometer was able to detect more than 1,300 marsquakes as they rumbled from hundreds and thousands of miles away.\n\nScientists studying InSight’s data were able to study the speed of marsquakes as they traveled through the planet, which can serve as an indicator of what substances exist beneath the Martian surface.\n\nThe speed of seismic waves depends on what the rock is made of, where it has cracks and what fills those cracks, Wright said.\n\nThe team used this data and fed it into a mathematical model of rock physics, which is used on Earth to map underground oil fields and aquifers.\n\nThe results showed that InSight’s data best matches up with a deep layer of igneous, or volcanic, rock that is filled with liquid water.\n\n“Establishing that there is a big reservoir of liquid water provides some window into what the climate was like or could be like,” said study coauthor Michael Manga, a professor of earth and planetary science at the University of California, Berkeley, in a statement.\n\n“And water is necessary for life as we know it. I don’t see why (the underground reservoir) is not a habitable environment,” Manga added. “It’s certainly true on Earth — deep, deep mines host life, the bottom of the ocean hosts life. We haven’t found any evidence for life on Mars, but at least we have identified a place that should, in principle, be able to sustain life.”\n\nIf Mars’ crust is similar across the planet, there may be more water within the mid-crust zone than the “volumes proposed to have filled hypothesized ancient Martian oceans,” the authors wrote in the study.\n\nRocks help trap information about the history of a planet, and understanding the water cycle of a planet can help researchers unlock the evolution of Mars, Wright said.\n\nWhile the analysis of the data can’t reveal any information about life, past or present, if it existed on Mars, it’s possible that wet Martian crust could be habitable in the same way that deep groundwater on Earth is hospitable for microbial life, he said.\n\nBut even drilling holes just half a mile (1 kilometer) or deeper on Earth is a challenge that requires energy and infrastructure, so a massive number of resources would need to be brought to Mars to drill to such depths, Wright said.\n\nThe team was surprised not to find evidence suggesting a layer of frozen groundwater beneath Insight because that portion of the crust is cold. The researchers are still trying to determine why there isn’t frozen groundwater at shallower depths above the mid-crust.\n\nWindows into Martian history\n\nThe findings add a new piece to the Martian water puzzle.\n\nThe idea that liquid water may exist deep beneath the Martian surface has been around for decades, but this is the first time real data from a Mars mission can confirm such speculation, said Alberto Fairén, a visiting interdisciplinary planetary scientist and astrobiologist within the department of astronomy at Cornell University. Fairén was not involved in the study.\n\nHe said the water is likely “a kind of deep underground mud.”\n\n“These new results demonstrate that liquid water does exist in the Martian subsurface today, not in the form of discrete and isolated lakes, but as liquid water-saturated sediments, or aquifers,” Fairén said. “On Earth, the subsurface biosphere is truly vast, containing most of the prokaryotic diversity and biomass on our planet. Some investigations even point to an origin of life on Earth precisely deep in the subsurface. Therefore, the astrobiological implications of finally confirming the existence of liquid water habitats kilometers beneath the surface of Mars are truly exciting.”\n\nThe result is “exactly the kind of thing that I hoped we would get out of InSight,” said Bruce Banerdt, the principal investigator for the InSight mission.\n\n“I was hoping that we would get data that was good enough to do these kinds of studies where we’re actually looking at details of the inside of Mars that are relevant to geological questions, questions about the habitability of Mars, questions about the evolution of Mars,” he said.\n\nBanerdt, who was not involved in the research, said that while the interpretation of the data presented in the paper is strongly supported with good arguments, he also believes it is still somewhat speculative and that there is almost always another way to explain any given set of data.\n\n“I was really impressed by the fact that Wright et al brought in mineral physics concepts to interpret seismic data,” Banerdt said.\n\nBanerdt and Wright both expressed an interest in the ability to send more seismometers to Mars and other planets and moons within our solar system in the future. While InSight’s one seismometer gathered crucial data, spreading them out across Mars would reveal variations within the planet’s interior and provide a greater window into its diverse and complex history, Banerdt said.\n\n“Just as on Earth, where groundwater is connected to the surface through rivers and lakes, this was surely the case on early Mars as well,” Wright said. “The groundwater we see is a record of that past.”',
 'summary': '(CNN) — Data from a retired NASA mission has revealed evidence of an underground reservoir of water deep beneath the surface of Mars, according to new research.\nThe data came from NASA’s InSight lander, which used a seismometer to study the interior of Mars from 2018 to 2022.\nThe new findings suggest that water on Mars filtered down into the Martian crust.\n“It’s certainly true on Earth — deep, deep mines host life, the bottom of the ocean hosts life.\nWindows into Martian history The findings add a new piece to the Martian water puzzle.',
 'timing': {'download': 0.30560874938964844,
  'parse': 0.49927592277526855,
  'nlp': 0.009243011474609375,
  'total': 0.8141818046569824}}

In [15]:
import multiprocessing

def get_core_count():
    return multiprocessing.cpu_count()

print(f"Number of CPU cores: {get_core_count()}")

Number of CPU cores: 10

In [33]:
pd.DataFrame(articles).to_csv("data/20240813.gkg.first-1000-news-articles.csv", index=False)

In [30]:
pd.DataFrame(articles).tail()

,title,text,summary,download,parse,nlp,total
995,Soldier charged for Kiss driver's road death o...,"Laurel V Williams\n\nJALANI Mapp, the man char...","Laurel V Williams JALANI Mapp, the man charged...",8.456538,0.210626,0.002457,8.669670
996,Bangladesh Sees 12-Year High Inflation Amid Pr...,Bangladesh's inflation in July reached a 12-ye...,Bangladesh's inflation in July reached a 12-ye...,4.836724,1.499970,0.001541,6.338301
997,ERROR,Article `download()` failed with HTTPConnectio...,ERROR,10.675692,NaN,NaN,10.675741
998,Your superb shots of the Northern Lights visib...,The Aurora Borealis was visible in parts of th...,The Aurora Borealis was visible in parts of th...,9.594916,0.327279,0.001642,9.923888
999,LQR House Inc. Announces 382% Year-Over-Year R...,"MIAMI BEACH, FL / ACCESSWIRE / August 13, 2024...","In July 2023, LQR House reported revenues of $...",3.938475,25.957049,0.003842,29.899412

In [46]:
ar = pd.DataFrame(articles)

ar.sort_values("total", ascending=False).head(10)

,title,text,summary,download,parse,nlp,total
9998,"NITDA, Japan partner to empower startups with ...",The National Information Technology Developmen...,The National Information Technology Developmen...,4.829097,206.816207,0.002367,211.647736
7976,SVB&T Corp.: SVB&T Corporation Reports 2024 Se...,"SVB&T Corporation (OTCQX:SVBT), parent company...","Interest income increased $890,000 compared to...",5.704282,111.365592,0.013440,117.083366
8071,Franco-Nevada Reports Q2 2024 Results; New Min...,New Mine Start-ups and Acquisitions\n\n(in U.S...,Q2 2024 Portfolio Updates Precious Metal asset...,6.259472,96.307791,0.036811,102.604130
9428,Ponsse Oyj : Half year Report for 1 January 30...,Ponsse's Half-year Report for 1 January - 30 J...,DISTRIBUTION NETWORK In the new operating mode...,7.137853,88.686141,0.036498,95.860548
5760,1843 Seated Dollar,"Author Replies: 12 / Views: 1,690\n\nValued Me...",Pillar of the Community United States 4049 Pos...,5.871923,75.527072,0.003525,81.402565
6408,More than 20 injured in German train crash,BERLIN - An east German regional train struck ...,BERLIN - An east German regional train struck ...,8.011999,68.955060,0.001326,76.968432
7918,Syndicated Article – Your Fort Dodge,,,4.412640,72.175424,0.000181,76.588318
2269,Defunct N.S. regional development agency to un...,HALIFAX - A forensic audit will determine what...,"Percy Paris, the economic and rural developmen...",8.450237,67.218402,0.002903,75.671610
6542,CTV Montreal: Stephane Giroux at the courthouse,You are now being redirected to the BCE.ca web...,You are now being redirected to the BCE.ca web...,9.847173,65.702806,0.005332,75.555381
3720,Young people see online slurs as jokes: AP-MTV...,WASHINGTON - Is it ever OK to tweet that a gir...,"Jaded by the Internet free-for-all, teens and ...",8.151193,66.477123,0.006284,74.634714